footer{
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.ImgFooter{
    width: 30%;
    max-width: 200px;
}
.ImgFooter img{
    width: 100%;
}

.ContainerLinksFooter{
    padding: 10px;
    width: 80%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.ContainerLinksFooter_Divs h1{
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}
.ContainerLinksFooter_Divs li{
    color: rgb(92, 92, 92);
    margin-top: 5px;
    cursor: pointer;
    font-size:16px;
    text-shadow: 2px 2px 20px black;
    list-style: none;
}
.ContainerLinksFooter_Divs li:hover{
    color: rgb(55, 55, 55);
}

@media (max-width:870px){
    /*Deixando o footer em colunas*/
    footer{
        flex-direction: column;
        align-items: start;
    }
    
    .ContainerLinksFooter{
        flex-direction: column;
    }
}