/*Section sobre a propaganda do home*/
.HomeCapa{
    width: 70vw;
    margin: auto;
    margin-top: 2em;
}

.HomeCapa_Swiper{
    text-align: center;
}

.HomeCapa_Swiper img{
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
}

/*Section sobre a os favoritos - sorvetes, picoles e milks - essa parte junta todo o css*/
.HomeSorvetes{
    max-width: 1000px;
    width: 90vw;
    margin: auto;
    margin-top: 2em;
}

.HomeSorvetes>h1{
    color: rgb(255, 128, 194);
    border-left: 2px solid;
    padding-left: 10px;
}
.HomeSorvetes strong{
    color: rgb(255, 78, 169);
    font-weight: bolder;
}

.HomeSorvetes_Container{
    padding: 20px 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2em;
}

.HomeSorvetes_Container_div{
    width: 100%;
    max-width: 200px;
}

.HomeSorvetes_Container_div>h1{
    font-size: 16px;
    color: rgba(85, 85, 85, 1);
    margin-top: 10px;
}

.HomeSorvetes_Container_div img{
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 150px;
}

#ImgGrande{
    max-width: 70px;
}

.HomeSorvetes_Container_div_Valor{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-top: 5px;
}
.HomeSorvetes_Container_div_Valor>svg{
    background-color: rgba(255, 109, 185, 1);
    color: white;
    cursor: pointer;
    padding: 4px 5px;
    border-radius: 10px;
}
.HomeSorvetes_Container_div_Valor>svg:hover{
    background-color: rgb(255, 56, 159);
}
.HomeSorvetes_Container_div_Valor p{
    margin-top: 10px;
    background-color: rgba(255, 109, 185, 0.38);
    color: white;
    text-align: center;
    padding: 2px;
}
.bibi-star-fill{
    color: rgba(255, 109, 185, 1);
}

/*Section Sobre a sorveteria*/
.HomeSobre{
    max-width: 1000px;
    width: 90vw;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.HomeSobre img{
    width: 100%;
    max-width: 400px;
}

.HomeSobre h1{
    border-left: 1px solid;
    padding: 10px;
    color: rgba(255, 109, 185, 1);
    margin-bottom: 20px;
    font-size: 30px;
}
.HomeSobre p{
    color: rgba(85, 85, 85, 1);
    margin-bottom: 20px;
    font-size: 17px;
}
.HomeSobre button{
    background-color: rgba(255, 109, 185, 1);
    color: rgba(254, 208, 232, 1);
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
    text-align: center;
    border: none;
    font-size: 20px;
    width: 90%;
    max-width: 500px;
    cursor: pointer;
}
.HomeSobre button:hover{
    background-color: rgb(255, 69, 165);
}


/*Section Sobre as lojas no brasil*/
.HomeLojas{
    max-width: 1000px;
    width: 90vw;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.HomeLojas img{
    width: 100%;
    max-width: 400px;
}

.HomeLojas h1{
    color: rgba(255, 71, 166, 1);
    margin-bottom: 20px;
    font-size: 25px;
}
.HomeLojas p{
    color: rgba(85, 85, 85, 1);
    margin-bottom: 20px;
    font-size: 17px;
}

/*Section Newsletter*/
.HomeNews{
    background-color: rgba(255, 109, 185, 1);
    padding: 2em;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.HomeNews div{
    background-color: rgba(255, 94, 177, 1);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.309);
    color: white;
    text-align: center;
}
.HomeNews h1{
    margin-bottom: 10px;
    font-size: 25px;
}
.HomeNews input{
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
    outline: none;
}
.HomeNews button{
    background-color: rgba(254, 208, 232, 1);
    color: rgba(255, 71, 166, 1);
    border-radius: none;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 50%;
    max-width: 100px;
}
.HomeNews button:hover{
    background-color: rgb(255, 183, 220);
}


@media (max-width:870px) {
    /*Section sobre a propaganda do home*/
    .HomeCapa{
        width: 90vw;
    }
    /*Section sobre a os favoritos - sorvetes*/
    .HomeSorvetes_Container{
        justify-content: center;
    }
    /*Section Sobre a sorveteria*/
    .HomeSobre{
       flex-direction: column;
    }     
    /*Section Sobre as lojas no brasil*/
    .HomeLojas{
        flex-direction: column-reverse;
    }
}

